.news-box {
  width: 100%;
  background-color: #fff;
  margin-top: 7px;
  & .news {
    padding: 20px;
    & .contents-title {
      margin-top: unset;
    }
    & .contents-box {
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 13px;
      padding: 0 10px;
      & dt {
        float: left;
      }
      & dd {
        padding-left: 145px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #cccccc;
      }
      & dt, dd {
        line-height: 17.5px;
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}