.news-box {
  width: 100%;
  background-color: #fff;
  margin-top: 7px;
  & .news {
    width: 640px;
    padding: 40px 20px 45px 20px;
    &__title {
      font-size: 16px;
      padding-bottom: 15px;
      border-bottom: 2px solid #6BC6C4;
    }
    &__text-box {
      margin-top: 30px;
      font-size: 13px;
      padding: 0 10px;
      & dt {
        float: left;
      }
      & dd {
        padding-left: 150px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #cccccc;
      }
      & dt, dd {
        line-height: 20px;
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}