@import "destyle";

.default-body {
  border-top: 8px solid rgb(105, 204, 174);
  background-color: rgb(245, 245, 245);
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

.inner {
  width: 920px;
  margin: 0 auto;
}

.attention {
  color: red;
}

.site-header {
  width: 100%;
  &__title {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    &__img {
      padding-top: 25px;
    }
    & .contact-box {
      width: 216px;
      &__title {
        font-size: 7px;
      }
      &__reception {
        width: 100%;
        margin-top: 20px;
        &__tel {
          color: rgb(93, 93, 93);
          display: flex;
          justify-content: space-between;
          align-items: center;
          & i {
            font-size: 20px;
          }
          & .phone-number {
            font-size: 25px;
          }
        }
        &__time {
          margin-top: 2px;
          font-size: 10px;
          border: 1px solid rgb(206, 205, 205);
          text-align: center;
          padding: 8px 0;
        }
      }
    }
  }
  &__nav {
    display: flex;
    margin-top: 5px;
    & button {
      text-align: center;
      width: 20%;
      padding: 20px 0;
      background: linear-gradient(rgb(123, 243, 207), rgb(105, 204, 174) );
      color: #fff;
      font-size: 14px;
      border: 1px solid rgb(131, 211, 131);
      transition: 'background' 0.3s;
      & .sub-text {
        font-size: 7px;
        text-align: center;
        font-weight: bold;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      &:nth-child(-n+4) {
        border-right: unset;
      }
      &:hover {
        background: linear-gradient(rgb(105, 204, 174), rgb(123, 243, 207));
        color: rgb(184, 255, 234);
      }
    }
  }
}

.main-area {
  margin-top: 20px;
}

.menu-box {
  width: 260px;
  & .menu {
    margin-top: 20px;
    border: 1px solid rgb(105, 204, 174);
    border-radius: 5px 5px 0 0;
    &:first-child {
      margin-top: 0;
    }
    &__title {
      border-radius: 4px 4px 0 0;
      color: #fff;
      background: linear-gradient(rgb(123, 243, 207), rgb(105, 204, 174) );
      padding: 12px 15px;
    }
    & ul {
      color: rgb(93, 93, 93);
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      list-style: inside;
      list-style-type: disc;
      & li {
        border-bottom: 1px solid rgb(105, 204, 174);
        padding: 10px 0 10px 8px;
        font-size: 14px;
      }
    }
  }
}